.barChart{
    margin-top: 7px;
    font-size: 12px;
}
.xAxis path {
    display: block;
}
.rootDiv{
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    cursor: default;
}
.bar{
    cursor: pointer;
}
.barforecasted{
    cursor: pointer;
    stroke-width: 1px;
    fill-opacity: 0.5;
}
.circle{
    cursor: pointer;
}
.yTDtargetLegend{
    float:left;
    margin-left: 10px;
}
.fullYearTargetLegend {
    float:left;
    margin-left: 10px;
}
.minLegend {
    float:left;
    margin-left: 10px;
}
.maxLegend {
    float:left;
    margin-left: 10px;
}
.avgLegend {
    float:left;
    margin-left: 10px;
}
.medianLegend {
    float:left;
    margin-left: 10px;
}
.legendInnerPart{
    float:left;
    height: 1px;
    margin-left: 5px;
}
#textToDisplay{
    font-size: 20px;
    color: #000000;
    height: 100%;
    width: 700px;
    font-family: 'Segoe UI';
    text-align: center;
    top: 0px;
}
.xTitle{
    margin-right: 5px;
}
.yTitle{
    margin-bottom: 5px;
    margin-right: 10px;
}
.path{
    stroke: black;
    fill: none;
    stroke-width: 0px;
    shape-rendering: crispEdges ;
}
.yAxisGrid{
    stroke: #ccc;
    stroke-width: 0.5px ;
}
.dataLabel{
    text-anchor: middle;
    font-weight: bold;
    display: inline;
}
.xTargetAxis{
    stroke-dasharray: 7px;
}